/* line 1, ../sass/_variables.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_variables.scss */
.clearfix {
  *zoom: 1;
  background: none;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 272, icons/*.png */
.icons-sprite, .icons-icon1, .icons-icon10, .icons-icon11, .icons-icon12, .icons-icon13, .icons-icon14, .icons-icon15, .icons-icon16, .icons-icon17, .icons-icon18, .icons-icon19, .icons-icon2, .icons-icon20, .icons-icon21, .icons-icon22, .icons-icon23, .icons-icon24, .icons-icon25, .icons-icon26, .icons-icon27, .icons-icon28, .icons-icon29, .icons-icon3, .icons-icon4, .icons-icon5, .icons-icon6, .icons-icon7, .icons-icon8, .icons-icon9 {
  background-image: url('../img/icons-se75c8b33c1.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon1 {
  background-position: 0 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon10 {
  background-position: -42px 0;
  height: 19px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon11 {
  background-position: -86px 0;
  height: 19px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon12 {
  background-position: -130px 0;
  height: 11px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon13 {
  background-position: -174px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon14 {
  background-position: -218px 0;
  height: 11px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon15 {
  background-position: -262px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon16 {
  background-position: -306px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon17 {
  background-position: -350px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon18 {
  background-position: -394px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon19 {
  background-position: -438px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon2 {
  background-position: -482px 0;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon20 {
  background-position: -518px 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon21 {
  background-position: -560px 0;
  height: 24px;
  width: 20px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon22 {
  background-position: -600px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon23 {
  background-position: -644px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon24 {
  background-position: -688px 0;
  height: 24px;
  width: 18px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon25 {
  background-position: -726px 0;
  height: 10px;
  width: 23px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon26 {
  background-position: -769px 0;
  height: 24px;
  width: 17px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon27 {
  background-position: -806px 0;
  height: 24px;
  width: 17px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon28 {
  background-position: -843px 0;
  height: 24px;
  width: 17px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon29 {
  background-position: -880px 0;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon3 {
  background-position: -916px 0;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon4 {
  background-position: -952px 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon5 {
  background-position: -994px 0;
  height: 24px;
  width: 12px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon6 {
  background-position: -1026px 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon7 {
  background-position: -1068px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon8 {
  background-position: -1112px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon9 {
  background-position: -1156px 0;
  height: 24px;
  width: 24px;
}

/* line 12, ../sass/filters.scss */
body {
  background: #fff;
  font-family: 'PT Sans', sans-serif;
}

/* line 17, ../sass/filters.scss */
.icons-sprite, .icons-icon1, .icons-icon10, .icons-icon11, .icons-icon12, .icons-icon13, .icons-icon14, .icons-icon15, .icons-icon16, .icons-icon17, .icons-icon18, .icons-icon19, .icons-icon2, .icons-icon20, .icons-icon21, .icons-icon22, .icons-icon23, .icons-icon24, .icons-icon25, .icons-icon26, .icons-icon27, .icons-icon28, .icons-icon29, .icons-icon3, .icons-icon4, .icons-icon5, .icons-icon6, .icons-icon7, .icons-icon8, .icons-icon9 {
  display: inline-block;
  vertical-align: middle;
}

/* line 22, ../sass/filters.scss */
.wrapper {
  padding: 200px 0;
}

/* line 26, ../sass/filters.scss */
.filters {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px 0px 5px;
  border-top: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  height: auto;
}
/* line 36, ../sass/filters.scss */
.filters__form {
  height: 100%;
  *zoom: 1;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.filters__form:after {
  content: "";
  display: table;
  clear: both;
}

/* line 42, ../sass/filters.scss */
.filters-switchers {
  float: left;
  padding-top: 15px;
}
/* line 45, ../sass/filters.scss */
.filters-switchers__item {
  margin-bottom: 10px;
}
/* line 46, ../sass/filters.scss */
.filters-switchers__item_advanced {
  display: none;
}
/* line 50, ../sass/filters.scss */
.filters-switchers__item input[type="radio"] {
  display: none;
}
/* line 53, ../sass/filters.scss */
.filters-switchers__item label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ececec;
  border-radius: 4px;
  display: inline-block;
  line-height: 34px;
  height: 37px;
  width: 120px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 7px;
}
/* line 68, ../sass/filters.scss */
.filters-switchers__item label:hover {
  background-color: #fafafa;
}
/* line 72, ../sass/filters.scss */
.filters-switchers__item input[type="radio"]:checked + label {
  font-weight: bold;
  color: #555555;
  background: #e9e9e9;
}
/* line 78, ../sass/filters.scss */
.filters-switchers__text {
  margin-left: 5px;
}

/* line 83, ../sass/filters.scss */
.filters-options {
  position: relative;
  float: left;
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  *zoom: 1;
}
/* line 84, ../sass/filters.scss */
.filters-options input[type="checkbox"] {
  display: none;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.filters-options:after {
  content: "";
  display: table;
  clear: both;
}
/* line 93, ../sass/filters.scss */
.filters-options__switcher {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 42px;
  border: 1px solid #ececec;
  height: 44px;
  text-align: center;
  width: 100px;
}
/* line 101, ../sass/filters.scss */
.filters-options__switcher + .filters-options__switcher {
  border-top: none;
}
/* line 104, ../sass/filters.scss */
.filters-options__switcher:hover {
  background: #fcfcfc;
  border-right-color: #fcfcfc;
}
/* line 107, ../sass/filters.scss */
.filters-options__switcher:hover > span {
  font-weight: bold;
}
/* line 111, ../sass/filters.scss */
.filters-options__switcher:after {
  content: '';
  float: right;
  width: 4px;
  height: 100%;
  background: #fcfcfc;
  margin-right: -1px;
  position: relative;
  z-index: 3;
  visibility: hidden;
}
/* line 123, ../sass/filters.scss */
.filters-options__switcher:hover:after {
  visibility: visible;
}
/* line 128, ../sass/filters.scss */
.filters-options__values {
  position: absolute;
  left: 100%;
  background: #fcfcfc;
  top: 0;
  bottom: 0;
  margin: auto;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  margin-left: -1px;
  z-index: 3;
  display: none;
  padding: 10px 15px  12px 5px;
}
/* line 142, ../sass/filters.scss */
.filters-options__switcher:hover .filters-options__values {
  display: block;
}
/* line 145, ../sass/filters.scss */
.filters-options__values_car-type {
  width: 630px;
}
/* line 148, ../sass/filters.scss */
.filters-options__values_car-brand {
  width: 430px;
}
/* line 153, ../sass/filters.scss */
.filters-options__values_car-variant {
  width: 430px;
}
/* line 157, ../sass/filters.scss */
.filters-options__item {
  float: left;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 0px;
}
/* line 162, ../sass/filters.scss */
.filters-options__item input:checked + .filters-options__label_iconed:before {
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}
/* line 166, ../sass/filters.scss */
.filters-options__item_option-line {
  float: none;
  margin-bottom: 1px;
  margin-left: 0;
}
/* line 171, ../sass/filters.scss */
.filters-options__item_option-line input[type="checkbox"] {
  display: none;
}
/* line 174, ../sass/filters.scss */
.filters-options__item_option-line label {
  width: 167px;
}
/* line 177, ../sass/filters.scss */
.filters-options__item_option-line label:before {
  display: none;
}
/* line 180, ../sass/filters.scss */
.filters-options__item_option-line i {
  position: static !important;
}
/* line 183, ../sass/filters.scss */
.filters-options__item_option-line figure {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 39px;
  height: 37px;
  border: 1px solid #ececec;
  margin: 0;
  border-radius: 4px;
}
/* line 193, ../sass/filters.scss */
.filters-options__item_option-line input:checked + .filters-options__label_iconed figure {
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}
/* line 199, ../sass/filters.scss */
.filters-options__label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
  line-height: normal;
  white-space: nowrap;
  display: block;
  padding: 0 0 0 5px;
  border-radius: 4px;
  position: relative;
  padding: 3px 0 4px 4px;
}
/* line 212, ../sass/filters.scss */
.filters-options__label span {
  margin-left: 5px;
  vertical-align: middle;
  text-shadow: 1px 0 1px #F5F5F5;
}
/* line 217, ../sass/filters.scss */
.filters-options__label_iconed {
  max-height: 47px;
  border: 1px solid transparent;
  line-height: 35px;
  width: 145px;
}
/* line 222, ../sass/filters.scss */
.filters-options__label_iconed::before {
  width: 39px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
}
/* line 233, ../sass/filters.scss */
.filters-options__label_iconed:hover {
  border-color: #f1f1f1;
}
/* line 236, ../sass/filters.scss */
.filters-options__label_iconed i {
  position: absolute;
  top: 18px;
  left: 12px;
}
/* line 242, ../sass/filters.scss */
.filters-options__label_checkbox {
  width: 125px;
}
/* line 244, ../sass/filters.scss */
.filters-options__label_checkbox::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #e1e1e1;
  vertical-align: middle;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}
/* line 254, ../sass/filters.scss */
.filters-options__item_car-brand input:checked + .filters-options__label_checkbox::before {
  box-shadow: inset 0  0  0px 4px  #444;
}
/* line 257, ../sass/filters.scss */
.filters-options__label_checkbox:hover {
  opacity: 0.85;
}

/* line 266, ../sass/filters.scss */
.filter-box {
  float: left;
  margin-left: 20px;
  padding-top: 15px;
}
/* line 270, ../sass/filters.scss */
.filter-box__header {
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
}
/* line 275, ../sass/filters.scss */
.filter-box_price {
  width: 250px;
}
/* line 278, ../sass/filters.scss */
.filter-box__content_option-line {
  margin-top: -5px;
}

/* line 283, ../sass/filters.scss */
.handler-price {
  position: absolute;
  top: 20px;
  background: #ddd;
  border-radius: 4px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  font-size: 11px;
  border: 1px solid #ececec;
  text-align: center;
  background: #f7f7f7;
  font-weight: bold;
  color: #777777;
  border-bottom-width: 3px;
  padding: 3px 0;
  box-shadow: 0 1px 3px   -6px #ddd;
}
/* line 63, ../sass/_variables.scss */
.handler-price:before, .handler-price:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px;
  z-index: 2;
  left: 50%;
  border-color: transparent transparent #ececec transparent;
  bottom: 100%;
  margin-left: -7px;
}
/* line 94, ../sass/_variables.scss */
.handler-price:after {
  z-index: 3;
  margin-bottom: -1px;
  border-color: transparent transparent #f7f7f7 transparent;
}
/* line 302, ../sass/filters.scss */
.handler-price:empty {
  display: none;
}

/* line 307, ../sass/filters.scss */
.price-range {
  margin-bottom: 15px;
  *zoom: 1;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.price-range:after {
  content: "";
  display: table;
  clear: both;
}
/* line 310, ../sass/filters.scss */
.price-range-input {
  border: 2px solid #ececec;
  padding: 3px;
  height: 40px;
  margin-left: 10px;
  padding: 4px 7px;
  border-radius: 5px;
  float: left;
  width: 120px;
}
/* line 319, ../sass/filters.scss */
.price-range-input:first-child {
  margin-left: 0;
}

/* line 325, ../sass/filters.scss */
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: none repeat scroll 0 0 #ececec;
  border: medium none;
  border-radius: 0;
  height: 2px;
}

/* line 332, ../sass/filters.scss */
.ui-state-default.ui-state-default, .ui-widget-content.ui-widget-content .ui-state-default.ui-state-default, .ui-widget-header.ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 #fe4d4d;
  border: medium none;
  box-shadow: none;
  height: 8px;
  top: -3px;
  width: 8px;
  margin-left: -5px;
}

/* line 342, ../sass/filters.scss */
.ui-slider .ui-slider-range {
  background: #c5c5c5;
}
