*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  *zoom: 1;
  background: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.small-show {
  display: none;
}

@media only screen and (max-width: 540px) {
  .small-hide {
    display: none;
  }

  .small-show {
    display: block;
  }
}
.icons-sprite, .icons-icon1, .icons-icon10, .icons-icon11, .icons-icon12, .icons-icon13, .icons-icon14, .icons-icon15, .icons-icon16, .icons-icon17, .icons-icon18, .icons-icon19, .icons-icon2, .icons-icon20, .icons-icon21, .icons-icon22, .icons-icon23, .icons-icon24, .icons-icon25, .icons-icon26, .icons-icon27, .icons-icon28, .icons-icon29, .icons-icon3, .icons-icon4, .icons-icon5, .icons-icon6, .icons-icon7, .icons-icon8, .icons-icon9 {
  background-image: url('../img/icons-se75c8b33c1.png');
  background-repeat: no-repeat;
}

.icons-icon1 {
  background-position: 0 0;
  height: 24px;
  width: 22px;
}

.icons-icon10 {
  background-position: -42px 0;
  height: 19px;
  width: 24px;
}

.icons-icon11 {
  background-position: -86px 0;
  height: 19px;
  width: 24px;
}

.icons-icon12 {
  background-position: -130px 0;
  height: 11px;
  width: 24px;
}

.icons-icon13 {
  background-position: -174px 0;
  height: 12px;
  width: 24px;
}

.icons-icon14 {
  background-position: -218px 0;
  height: 11px;
  width: 24px;
}

.icons-icon15 {
  background-position: -262px 0;
  height: 10px;
  width: 24px;
}

.icons-icon16 {
  background-position: -306px 0;
  height: 12px;
  width: 24px;
}

.icons-icon17 {
  background-position: -350px 0;
  height: 10px;
  width: 24px;
}

.icons-icon18 {
  background-position: -394px 0;
  height: 12px;
  width: 24px;
}

.icons-icon19 {
  background-position: -438px 0;
  height: 10px;
  width: 24px;
}

.icons-icon2 {
  background-position: -482px 0;
  height: 16px;
  width: 16px;
}

.icons-icon20 {
  background-position: -518px 0;
  height: 24px;
  width: 22px;
}

.icons-icon21 {
  background-position: -560px 0;
  height: 24px;
  width: 20px;
}

.icons-icon22 {
  background-position: -600px 0;
  height: 10px;
  width: 24px;
}

.icons-icon23 {
  background-position: -644px 0;
  height: 10px;
  width: 24px;
}

.icons-icon24 {
  background-position: -688px 0;
  height: 24px;
  width: 18px;
}

.icons-icon25 {
  background-position: -726px 0;
  height: 10px;
  width: 23px;
}

.icons-icon26 {
  background-position: -769px 0;
  height: 24px;
  width: 17px;
}

.icons-icon27 {
  background-position: -806px 0;
  height: 24px;
  width: 17px;
}

.icons-icon28 {
  background-position: -843px 0;
  height: 24px;
  width: 17px;
}

.icons-icon29 {
  background-position: -880px 0;
  height: 16px;
  width: 16px;
}

.icons-icon3 {
  background-position: -916px 0;
  height: 16px;
  width: 16px;
}

.icons-icon4 {
  background-position: -952px 0;
  height: 24px;
  width: 22px;
}

.icons-icon5 {
  background-position: -994px 0;
  height: 24px;
  width: 12px;
}

.icons-icon6 {
  background-position: -1026px 0;
  height: 24px;
  width: 22px;
}

.icons-icon7 {
  background-position: -1068px 0;
  height: 12px;
  width: 24px;
}

.icons-icon8 {
  background-position: -1112px 0;
  height: 12px;
  width: 24px;
}

.icons-icon9 {
  background-position: -1156px 0;
  height: 24px;
  width: 24px;
}

body {
  background: #fff;
  font-family: 'PT Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

.icons-sprite, .icons-icon1, .icons-icon10, .icons-icon11, .icons-icon12, .icons-icon13, .icons-icon14, .icons-icon15, .icons-icon16, .icons-icon17, .icons-icon18, .icons-icon19, .icons-icon2, .icons-icon20, .icons-icon21, .icons-icon22, .icons-icon23, .icons-icon24, .icons-icon25, .icons-icon26, .icons-icon27, .icons-icon28, .icons-icon29, .icons-icon3, .icons-icon4, .icons-icon5, .icons-icon6, .icons-icon7, .icons-icon8, .icons-icon9 {
  display: inline-block;
  vertical-align: middle;
}

.filters {
  width: 1100px;
  margin: 0 auto;
  padding: 0px 20px 0px 5px;
  border-top: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  height: auto;
}
@media only screen and (max-width: 825px) {
  .filters {
    padding-right: 0;
    width: 825px;
  }
}
@media only screen and (max-width: 540px) {
  .filters {
    width: 540px;
  }
}
@media only screen and (max-width: 255px) {
  .filters {
    width: 100%;
    padding-left: 0;
    max-width: 255px;
  }
}
.filters__form {
  height: 100%;
  *zoom: 1;
}
.filters__form:after {
  content: "";
  display: table;
  clear: both;
}

.filters-switchers {
  float: left;
  padding-top: 15px;
}
@media only screen and (max-width: 255px) {
  .filters-switchers {
    float: none;
    margin-bottom: 15px;
    *zoom: 1;
  }
  .filters-switchers:after {
    content: "";
    display: table;
    clear: both;
  }
}
.filters-switchers__item {
  color: #777;
  margin-bottom: 10px;
}
@media only screen and (max-width: 255px) {
  .filters-switchers__item {
    width: 120px;
    width: 48%;
    margin-left: 4%;
    float: left;
    margin-bottom: 0;
  }
  .filters-switchers__item:first-child {
    margin-left: 0;
  }
}
.filters-switchers__item_advanced {
  display: none;
}
.filters-switchers__item.is-advanced {
  display: block;
  text-align: center;
  padding: 0;
}
.filters-switchers__item.is-advanced span {
  margin: 0;
}
.filters-switchers__item.is-advanced i {
  display: none;
}
.filters-switchers__item input[type="radio"] {
  display: none;
}
.filters-switchers__item label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ececec;
  border-radius: 4px;
  display: inline-block;
  line-height: 34px;
  height: 37px;
  width: 120px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 7px;
}
@media only screen and (max-width: 540px) {
  .filters-switchers__item label {
    width: 40px;
    padding-left: 0;
    text-align: center;
  }
  .filters-switchers__item label span {
    display: none;
  }
}
@media only screen and (max-width: 255px) {
  .filters-switchers__item label {
    width: 100%;
  }
  .filters-switchers__item label span {
    display: inline-block;
  }
}
.filters-switchers__item label:hover {
  background-color: #fafafa;
  color: #555555;
}
.filters-switchers__item input[type="radio"]:checked + label {
  font-weight: bold;
  color: #555555;
  background: #e9e9e9;
}
.filters-switchers__text {
  margin-left: 5px;
}

.filters-options {
  position: relative;
  float: left;
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  *zoom: 1;
}
.filters-options_advanced {
  margin-left: 0 !important;
}
@media only screen and (max-width: 540px) {
  .filters-options {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 255px) {
  .filters-options {
    padding-top: 0;
    margin-left: 0;
    width: 100%;
    *zoom: 1;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .filters-options:after {
    content: "";
    display: table;
    clear: both;
  }
}
.filters-options:after {
  content: "";
  display: table;
  clear: both;
}
.filters-options__switcher {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 42px;
  border: 1px solid #ececec;
  height: 44px;
  text-align: center;
  width: 100px;
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher {
    float: left;
    width: 33.33%;
  }
}
.filters-options__switcher > span {
  color: #777;
}
.filters-options__switcher + .filters-options__switcher {
  border-top: none;
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher + .filters-options__switcher {
    border-left: none;
    border-top: 1px solid #ececec;
    border-right-color: #ececec !important;
  }
}
.filters-options__switcher:hover {
  background: #fcfcfc;
  border-right-color: #fcfcfc;
}
.filters-options__switcher:hover > span {
  font-weight: bold;
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher:hover {
    border-right-color: #ececec;
    border-bottom-color: #fcfcfc;
  }
}
.filters-options__switcher:after {
  content: '';
  float: right;
  width: 4px;
  height: 100%;
  background: #fcfcfc;
  margin-right: -1px;
  position: relative;
  z-index: 3;
  visibility: hidden;
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher:after {
    height: 1px;
    width: 100%;
    margin-bottom: -1px;
    display: block;
    margin-right: 0;
  }
  .filters-options_advanced .filters-options__switcher:after {
    bottom: -1px;
  }
}
.filters-options__switcher:hover:after, .filters-options__switcher.active:after {
  visibility: visible;
}
.filters-options__switcher_advanced {
  width: 145px;
  text-align: center;
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher_advanced {
    width: 33.33%;
    line-height: 1.2;
    font-size: 13px;
  }
  .filters-options__switcher_advanced > span {
    display: block;
    padding-top: 15px;
    line-height: 1;
  }
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher_advanced:last-child span {
    display: block;
    padding-top: 8px;
  }
}
@media only screen and (max-width: 255px) {
  .filters-options__switcher_advanced .filters-options__values {
    border-top-color: transparent;
    margin-top: 0;
  }
  .filters-options__switcher_advanced:hover, .filters-options__switcher_advanced.active {
    border-bottom-color: transparent;
  }
}
.filters-options__values {
  position: absolute;
  left: 100%;
  background: #fcfcfc;
  top: 0;
  bottom: 0;
  margin: auto;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  margin-left: -1px;
  z-index: 3;
  display: none;
  padding: 10px 15px  12px 5px;
  overflow: auto;
}
.desktop .filters-options__switcher:hover .filters-options__values, .desktop .filters-options__switcher.active .filters-options__values {
  display: block;
}
@media only screen and (max-width: 255px) {
  .filters-options__values {
    left: 0;
    top: 100%;
    width: 100% !important;
    height: 150px;
    border-left: none;
    border-right: none;
    margin-top: -1px;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
  }
}
.filters-options__values_car-type {
  width: 630px;
}
@media only screen and (max-width: 825px) {
  .filters-options__values_car-type {
    width: 500px;
    overflow: auto;
  }
}
@media only screen and (max-width: 540px) {
  .filters-options__values_car-type {
    width: 381px;
  }
}
.filters-options__values_car-brand {
  width: 430px;
}
@media only screen and (max-width: 540px) {
  .filters-options__values_car-brand {
    width: 381px;
  }
}
.filters-options__values_car-variant {
  width: 430px;
}
@media only screen and (max-width: 540px) {
  .filters-options__values_car-variant {
    width: 381px;
  }
}
.filters-options__item {
  float: left;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 0px;
}
.filters-options__item input[type="checkbox"] {
  display: none;
}
.filters-options__item input:checked + .filters-options__label_iconed:before {
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}
.filters-options__item input:checked + label {
  color: #555;
  font-weight: bold;
}
.filters-options__item_option-line {
  float: none;
  margin-bottom: 1px;
  margin-left: 0;
  margin-left: -5px;
}
@media only screen and (max-width: 540px) {
  .filters-options__item_option-line {
    float: left;
    margin-left: 5px;
  }
  .filters-options__item_option-line:first-child {
    margin-left: 0;
  }
  .filter-box_advanced-last .filters-options__item_option-line {
    float: none;
    margin-left: 0;
  }
  .filter-box_advanced-last {
    margin-top: 10px;
  }
}
.filters-options__item_option-line input[type="checkbox"] {
  display: none;
}
.filters-options__item_option-line label {
  width: 167px;
}
@media only screen and (max-width: 540px) {
  .filters-options__item_option-line label {
    width: 40px;
    padding: 0;
  }
  .filters-options__item_option-line label span {
    display: none;
  }
}
.filters-options__item_option-line label:before {
  display: none;
}
.filters-options__item_option-line i {
  position: static !important;
}
.filters-options__item_option-line figure {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 39px;
  height: 37px;
  border: 1px solid #ececec;
  margin: 0;
  border-radius: 4px;
}
.filters-options__item_option-line figure:hover {
  background: #FAFAFA;
}
.filters-options__item_option-line input:checked + .filters-options__label_iconed figure {
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}
.filters-options__item_advanced {
  margin-left: 0;
}
.filters-options__label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
  line-height: normal;
  white-space: nowrap;
  display: block;
  padding: 0 0 0 5px;
  border-radius: 4px;
  position: relative;
  padding: 3px 0 4px 4px;
}
.filters-options__label span {
  margin-left: 5px;
  vertical-align: middle;
  text-shadow: 1px 0 1px #F5F5F5;
}
.filters-options__label_iconed {
  max-height: 47px;
  border: 1px solid transparent;
  line-height: 35px;
  width: 145px;
}
.filters-options__label_iconed::before {
  width: 39px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
}
.filters-options__label_iconed:hover {
  border-color: #f1f1f1;
}
@media only screen and (max-width: 540px) {
  .filters-options__label_iconed:hover {
    border-color: transparent;
  }
  .filters-options .filters-options__label_iconed:hover {
    border-color: #f1f1f1;
  }
}
.filters-options__label_iconed i {
  position: absolute;
  top: 18px;
  left: 12px;
}
.filters-options__label_checkbox {
  width: 105px;
  padding-left: 19px;
}
@media only screen and (max-width: 825px) {
  .filters-options__label_checkbox {
    width: 97px;
  }
}
.filters-options__label_checkbox::before {
  content: '';
  left: 1px;
  top: 7px;
  display: inline-block;
  width: 16px;
  position: absolute;
  height: 16px;
  background: #e1e1e1;
  vertical-align: middle;
  border-radius: 2px;
}
.filters-options__label_checkbox::after {
  background: none repeat scroll 0 0 #471f1f;
  content: "";
  display: inline-block;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 11px;
  width: 8px;
  border-radius: 1px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.filters-options__item_car-brand input:checked + .filters-options__label_checkbox::after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.filters-options__label_checkbox:hover {
  opacity: 0.85;
}

.filter-box {
  float: left;
  margin-left: 14px;
  padding-top: 15px;
}
@media only screen and (max-width: 255px) {
  .filter-box {
    margin-left: 0;
  }
}
.filter-box__header {
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
  font-size: 14px;
}
@media only screen and (max-width: 540px) {
  .filters-block_base .filter-box__header {
    margin-bottom: 12px;
    margin-left: 2px;
  }
}
.filter-box_price {
  width: 250px;
}
@media only screen and (max-width: 825px) {
  .filter-box_price {
    width: 220px;
  }
}
@media only screen and (max-width: 540px) {
  .filter-box_price .filter-box__header {
    display: none;
  }
}
@media only screen and (max-width: 255px) {
  .filter-box_price {
    padding-top: 0;
    width: 100%;
  }
}
.filter-box__content_option-line {
  margin-top: -5px;
}
.filter-box_actions {
  float: right;
  width: 120px;
  text-align: center;
}
@media only screen and (max-width: 255px) {
  .filter-box_actions {
    width: 100%;
    *zoom: 1;
  }
  .filter-box_actions:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 540px) {
  .filter-box_used {
    margin-bottom: -16px;
  }
}
@media only screen and (max-width: 255px) {
  .filter-box_used {
    margin-bottom: 0;
    padding-top: 0;
    width: 100%;
  }
}
.filter-box__content_used {
  *zoom: 1;
  margin-top: -5px;
}
.filter-box__content_used:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 540px) {
  .filter-box__content_used {
    margin-top: 0;
    margin-bottom: 3px;
  }
}
.filter-box__content_checkbox {
  margin-top: -6px;
}
.filter-box_power {
  width: 210px;
}
@media only screen and (max-width: 825px) {
  .filter-box_power {
    width: 195px;
  }
}
.filter-box_motor {
  width: 110px;
}
@media only screen and (max-width: 825px) {
  .filter-box_motor {
    width: 100px;
  }
}
@media only screen and (max-width: 825px) {
  .filter-box .jsKorobka {
    display: none;
  }
}
@media only screen and (max-width: 255px) {
  .filter-box_without-header {
    margin-left: 4%;
  }
}

.handler-price {
  position: absolute;
  top: 20px;
  background: #ddd;
  border-radius: 4px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  font-size: 11px;
  border: 1px solid #ececec;
  text-align: center;
  background: #f7f7f7;
  font-weight: bold;
  color: #777777;
  border-bottom-width: 3px;
  padding: 3px 0;
  box-shadow: 0 1px 3px   -6px #ddd;
}
.handler-price:before, .handler-price:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px;
  z-index: 2;
  left: 50%;
  border-color: transparent transparent #ececec transparent;
  bottom: 100%;
  margin-left: -7px;
}
.handler-price:after {
  z-index: 3;
  margin-bottom: -1px;
  border-color: transparent transparent #f7f7f7 transparent;
}
.handler-price:empty {
  display: none;
}

.price-range {
  margin-bottom: 15px;
  *zoom: 1;
}
.price-range:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 549px) {
  .price-range {
    margin-bottom: 0;
  }
  .price-range + div {
    display: none;
  }
}
.price-range-input {
  border: 2px solid #ececec;
  padding: 3px;
  height: 40px;
  margin-left: 10px;
  padding: 4px 7px;
  border-radius: 5px;
  float: left;
  width: 120px;
  color: #4e4e4e;
}
@media only screen and (max-width: 825px) {
  .price-range-input {
    width: 105px;
    margin-left: 7px;
  }
}
.price-range-input:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 540px) {
  .price-range-input {
    width: 90px;
    height: 37px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 255px) {
  .price-range-input {
    margin-left: 4%;
    width: 48%;
  }
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: none repeat scroll 0 0 #ececec;
  border: medium none;
  border-radius: 0;
  height: 2px;
}

.ui-state-default.ui-state-default, .ui-widget-content.ui-widget-content .ui-state-default.ui-state-default, .ui-widget-header.ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 #fe4d4d;
  border: medium none;
  box-shadow: none;
  height: 8px;
  top: -3px;
  width: 8px;
  margin-left: -5px;
}

.ui-slider .ui-slider-range {
  background: #c5c5c5;
}

.filter-reset, .advanced-filter-call, .form-submit {
  margin-bottom: 10px;
}

.advanced-filter-call {
  display: block;
  width: 120px;
  background: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-bottom-color: #dddddd;
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 1px 0 1px #F5F5F5;
  border-radius: 5px;
  font-size: 14px;
  padding: 6px 0;
}
.advanced-filter-call:hover {
  background: #f3f3f3;
  color: #777777;
}
.advanced-filter-call.is-active {
  border-color: #c9c9c9;
  color: #777;
  background: #fff;
}
@media only screen and (max-width: 255px) {
  .advanced-filter-call {
    float: left;
    position: relative;
    bottom: -15px;
    width: 48%;
    margin-right: 4%;
  }
}

.filter-reset {
  background: none;
  border: none;
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
  text-shadow: 1px 0 1px #F5F5F5;
  font-size: 14px;
}
.filter-reset:hover {
  text-decoration: none;
}

.form-submit {
  padding: 6px 0;
  color: #fff;
  border: 2px solid #e94646;
  background: #e94646;
  display: inline-block;
  border-radius: 5px;
  border-bottom-color: #d74041;
  font-weight: bold;
  font-size: 13px;
  width: 120px;
  cursor: pointer;
}
.form-submit:hover {
  background: #ed6b6b;
  border-color: #ed6b6b;
  border-bottom-color: #df6667;
}
.form-submit.is-active {
  border-color: #ed6b6b;
  color: #ed6b6b;
  background: #fff;
}
@media only screen and (max-width: 255px) {
  .form-submit {
    width: 48%;
  }
}

.filters-block {
  *zoom: 1;
}
.filters-block:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 255px) {
  .filters-block_base {
    border-bottom: none;
  }
}
.filters-block_advanced {
  border-top: 1px solid #ececec;
  display: none;
}
@media only screen and (max-width: 255px) {
  .filters-block_advanced {
    padding-top: 15px;
    margin-top: 15px;
  }
}

/* the custom select styles */
.filter-box__inner {
  *zoom: 1;
  margin-bottom: 7px;
}
.filter-box__inner:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown-filter {
  width: 94px;
  float: left;
}
.dropdown-filter:first-child {
  margin-right: 10px;
}
@media only screen and (max-width: 825px) {
  .dropdown-filter {
    width: 90px;
  }
}
@media only screen and (max-width: 255px) {
  .dropdown-filter {
    width: 48%;
  }
  .dropdown-filter:first-child {
    margin-right: 4%;
  }
}

.myselect {
  border: 1px solid #ededed;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 38px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ececec;
  line-height: 28px;
}

.myfiltrvalue {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  width: 100%;
  background: #F7F7F7;
  z-index: 9999;
  font-size: 12px;
  border: 1px solid #ececec;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  color: #777777;
  border-radius: 5px;
  border-bottom-width: 2px;
  box-shadow: 0 1px 3px -6px #dddddd;
}

.myfiltrvalue:before, .myfiltrvalue:after {
  content: '';
  position: absolute;
  left: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #ededed transparent;
  top: -21px;
  z-index: 1;
  left: 50%;
  margin-left: -10px;
}

.myfiltrvalue:after {
  z-index: 2;
  border-color: transparent transparent #F7F7F7 transparent;
  top: -20px;
}

.myfiltrvalue__item {
  display: block;
  padding: 2px;
  color: #777777;
}

.myselect__current {
  display: block;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 14px;
  color: #555;
  padding: 2px 4px;
}

.myselect__current:before {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 4px;
  border-color: #777 transparent transparent  transparent;
  top: 16px;
  right: 8px;
}

.myselect__current:after {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 4px;
  border-color: #fff transparent transparent  transparent;
  top: 15px;
  right: 8px;
}

.myfiltrvalue__item:hover {
  background: none repeat scroll 0 0 #e7e7e7;
  color: #ffffff;
}
