/* line 1, ../sass/_variables.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_variables.scss */
.clearfix {
  *zoom: 1;
  background: none;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 272, icons/*.png */
.icons-sprite, .icons-icon1, .icons-icon10, .icons-icon11, .icons-icon12, .icons-icon13, .icons-icon14, .icons-icon15, .icons-icon16, .icons-icon17, .icons-icon18, .icons-icon19, .icons-icon2, .icons-icon20, .icons-icon21, .icons-icon22, .icons-icon23, .icons-icon24, .icons-icon25, .icons-icon26, .icons-icon27, .icons-icon28, .icons-icon29, .icons-icon3, .icons-icon4, .icons-icon5, .icons-icon6, .icons-icon7, .icons-icon8, .icons-icon9 {
  background-image: url('../img/icons-se75c8b33c1.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon1 {
  background-position: 0 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon10 {
  background-position: -42px 0;
  height: 19px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon11 {
  background-position: -86px 0;
  height: 19px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon12 {
  background-position: -130px 0;
  height: 11px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon13 {
  background-position: -174px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon14 {
  background-position: -218px 0;
  height: 11px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon15 {
  background-position: -262px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon16 {
  background-position: -306px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon17 {
  background-position: -350px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon18 {
  background-position: -394px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon19 {
  background-position: -438px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon2 {
  background-position: -482px 0;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon20 {
  background-position: -518px 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon21 {
  background-position: -560px 0;
  height: 24px;
  width: 20px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon22 {
  background-position: -600px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon23 {
  background-position: -644px 0;
  height: 10px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon24 {
  background-position: -688px 0;
  height: 24px;
  width: 18px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon25 {
  background-position: -726px 0;
  height: 10px;
  width: 23px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon26 {
  background-position: -769px 0;
  height: 24px;
  width: 17px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon27 {
  background-position: -806px 0;
  height: 24px;
  width: 17px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon28 {
  background-position: -843px 0;
  height: 24px;
  width: 17px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon29 {
  background-position: -880px 0;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon3 {
  background-position: -916px 0;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon4 {
  background-position: -952px 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon5 {
  background-position: -994px 0;
  height: 24px;
  width: 12px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon6 {
  background-position: -1026px 0;
  height: 24px;
  width: 22px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon7 {
  background-position: -1068px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon8 {
  background-position: -1112px 0;
  height: 12px;
  width: 24px;
}

/* line 84, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon9 {
  background-position: -1156px 0;
  height: 24px;
  width: 24px;
}

/* line 12, ../sass/filters.scss */
body {
  background: #fff;
  font-family: 'PT Sans', sans-serif;
}

/* line 17, ../sass/filters.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 24, ../sass/filters.scss */
.icons-sprite, .icons-icon1, .icons-icon10, .icons-icon11, .icons-icon12, .icons-icon13, .icons-icon14, .icons-icon15, .icons-icon16, .icons-icon17, .icons-icon18, .icons-icon19, .icons-icon2, .icons-icon20, .icons-icon21, .icons-icon22, .icons-icon23, .icons-icon24, .icons-icon25, .icons-icon26, .icons-icon27, .icons-icon28, .icons-icon29, .icons-icon3, .icons-icon4, .icons-icon5, .icons-icon6, .icons-icon7, .icons-icon8, .icons-icon9 {
  display: inline-block;
  vertical-align: middle;
}

/* line 29, ../sass/filters.scss */
.wrapper {
  padding: 200px 0;
}

/* line 33, ../sass/filters.scss */
.filters {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px 0px 5px;
  border-top: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  height: auto;
}
/* line 43, ../sass/filters.scss */
.filters__form {
  height: 100%;
  *zoom: 1;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.filters__form:after {
  content: "";
  display: table;
  clear: both;
}

/* line 49, ../sass/filters.scss */
.filters-switchers {
  float: left;
  padding-top: 15px;
}
/* line 52, ../sass/filters.scss */
.filters-switchers__item {
  margin-bottom: 10px;
}
/* line 53, ../sass/filters.scss */
.filters-switchers__item_advanced {
  display: none;
}
/* line 57, ../sass/filters.scss */
.filters-switchers__item input[type="radio"] {
  display: none;
}
/* line 60, ../sass/filters.scss */
.filters-switchers__item label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ececec;
  border-radius: 4px;
  display: inline-block;
  line-height: 34px;
  height: 37px;
  width: 120px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 7px;
}
/* line 75, ../sass/filters.scss */
.filters-switchers__item label:hover {
  background-color: #fafafa;
  color: #555555;
}
/* line 80, ../sass/filters.scss */
.filters-switchers__item input[type="radio"]:checked + label {
  font-weight: bold;
  color: #555555;
  background: #e9e9e9;
}
/* line 86, ../sass/filters.scss */
.filters-switchers__text {
  margin-left: 5px;
}

/* line 91, ../sass/filters.scss */
.filters-options {
  position: relative;
  float: left;
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  *zoom: 1;
}
/* line 92, ../sass/filters.scss */
.filters-options input[type="checkbox"] {
  display: none;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.filters-options:after {
  content: "";
  display: table;
  clear: both;
}
/* line 101, ../sass/filters.scss */
.filters-options__switcher {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 42px;
  border: 1px solid #ececec;
  height: 44px;
  text-align: center;
  width: 100px;
}
/* line 109, ../sass/filters.scss */
.filters-options__switcher + .filters-options__switcher {
  border-top: none;
}
/* line 112, ../sass/filters.scss */
.filters-options__switcher:hover {
  background: #fcfcfc;
  border-right-color: #fcfcfc;
}
/* line 115, ../sass/filters.scss */
.filters-options__switcher:hover > span {
  font-weight: bold;
}
/* line 119, ../sass/filters.scss */
.filters-options__switcher:after {
  content: '';
  float: right;
  width: 4px;
  height: 100%;
  background: #fcfcfc;
  margin-right: -1px;
  position: relative;
  z-index: 3;
  visibility: hidden;
}
/* line 131, ../sass/filters.scss */
.filters-options__switcher:hover:after {
  visibility: visible;
}
/* line 136, ../sass/filters.scss */
.filters-options__values {
  position: absolute;
  left: 100%;
  background: #fcfcfc;
  top: 0;
  bottom: 0;
  margin: auto;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  margin-left: -1px;
  z-index: 3;
  display: none;
  padding: 10px 15px  12px 5px;
}
/* line 150, ../sass/filters.scss */
.filters-options__switcher:hover .filters-options__values {
  display: block;
}
/* line 153, ../sass/filters.scss */
.filters-options__values_car-type {
  width: 630px;
}
/* line 156, ../sass/filters.scss */
.filters-options__values_car-brand {
  width: 430px;
}
/* line 161, ../sass/filters.scss */
.filters-options__values_car-variant {
  width: 430px;
}
/* line 165, ../sass/filters.scss */
.filters-options__item {
  float: left;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 0px;
}
/* line 170, ../sass/filters.scss */
.filters-options__item input:checked + .filters-options__label_iconed:before {
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}
/* line 174, ../sass/filters.scss */
.filters-options__item input:checked + label {
  color: #555;
  font-weight: bold;
}
/* line 178, ../sass/filters.scss */
.filters-options__item_option-line {
  float: none;
  margin-bottom: 1px;
  margin-left: 0;
}
/* line 183, ../sass/filters.scss */
.filters-options__item_option-line input[type="checkbox"] {
  display: none;
}
/* line 186, ../sass/filters.scss */
.filters-options__item_option-line label {
  width: 167px;
}
/* line 189, ../sass/filters.scss */
.filters-options__item_option-line label:before {
  display: none;
}
/* line 192, ../sass/filters.scss */
.filters-options__item_option-line i {
  position: static !important;
}
/* line 195, ../sass/filters.scss */
.filters-options__item_option-line figure {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 39px;
  height: 37px;
  border: 1px solid #ececec;
  margin: 0;
  border-radius: 4px;
}
/* line 205, ../sass/filters.scss */
.filters-options__item_option-line input:checked + .filters-options__label_iconed figure {
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}
/* line 211, ../sass/filters.scss */
.filters-options__label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
  line-height: normal;
  white-space: nowrap;
  display: block;
  padding: 0 0 0 5px;
  border-radius: 4px;
  position: relative;
  padding: 3px 0 4px 4px;
}
/* line 224, ../sass/filters.scss */
.filters-options__label span {
  margin-left: 5px;
  vertical-align: middle;
  text-shadow: 1px 0 1px #F5F5F5;
}
/* line 229, ../sass/filters.scss */
.filters-options__label_iconed {
  max-height: 47px;
  border: 1px solid transparent;
  line-height: 35px;
  width: 145px;
}
/* line 234, ../sass/filters.scss */
.filters-options__label_iconed::before {
  width: 39px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
}
/* line 245, ../sass/filters.scss */
.filters-options__label_iconed:hover {
  border-color: #f1f1f1;
}
/* line 248, ../sass/filters.scss */
.filters-options__label_iconed i {
  position: absolute;
  top: 18px;
  left: 12px;
}
/* line 254, ../sass/filters.scss */
.filters-options__label_checkbox {
  width: 125px;
}
/* line 256, ../sass/filters.scss */
.filters-options__label_checkbox::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #e1e1e1;
  vertical-align: middle;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}
/* line 266, ../sass/filters.scss */
.filters-options__item_car-brand input:checked + .filters-options__label_checkbox::before {
  box-shadow: inset 0  0  0px 4px  #444;
}
/* line 269, ../sass/filters.scss */
.filters-options__label_checkbox:hover {
  opacity: 0.85;
}

/* line 278, ../sass/filters.scss */
.filter-box {
  float: left;
  margin-left: 30px;
  padding-top: 15px;
}
/* line 282, ../sass/filters.scss */
.filter-box__header {
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
}
/* line 287, ../sass/filters.scss */
.filter-box_price {
  width: 250px;
}
/* line 290, ../sass/filters.scss */
.filter-box__content_option-line {
  margin-top: -5px;
}
/* line 293, ../sass/filters.scss */
.filter-box_actions {
  float: right;
  width: 120px;
  text-align: center;
}

/* line 300, ../sass/filters.scss */
.handler-price {
  position: absolute;
  top: 20px;
  background: #ddd;
  border-radius: 4px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  font-size: 11px;
  border: 1px solid #ececec;
  text-align: center;
  background: #f7f7f7;
  font-weight: bold;
  color: #777777;
  border-bottom-width: 3px;
  padding: 3px 0;
  box-shadow: 0 1px 3px   -6px #ddd;
}
/* line 63, ../sass/_variables.scss */
.handler-price:before, .handler-price:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px;
  z-index: 2;
  left: 50%;
  border-color: transparent transparent #ececec transparent;
  bottom: 100%;
  margin-left: -7px;
}
/* line 94, ../sass/_variables.scss */
.handler-price:after {
  z-index: 3;
  margin-bottom: -1px;
  border-color: transparent transparent #f7f7f7 transparent;
}
/* line 319, ../sass/filters.scss */
.handler-price:empty {
  display: none;
}

/* line 324, ../sass/filters.scss */
.price-range {
  margin-bottom: 15px;
  *zoom: 1;
}
/* line 38, ../../../../../../jekyll/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.price-range:after {
  content: "";
  display: table;
  clear: both;
}
/* line 327, ../sass/filters.scss */
.price-range-input {
  border: 2px solid #ececec;
  padding: 3px;
  height: 40px;
  margin-left: 10px;
  padding: 4px 7px;
  border-radius: 5px;
  float: left;
  width: 120px;
}
/* line 336, ../sass/filters.scss */
.price-range-input:first-child {
  margin-left: 0;
}

/* line 342, ../sass/filters.scss */
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: none repeat scroll 0 0 #ececec;
  border: medium none;
  border-radius: 0;
  height: 2px;
}

/* line 349, ../sass/filters.scss */
.ui-state-default.ui-state-default, .ui-widget-content.ui-widget-content .ui-state-default.ui-state-default, .ui-widget-header.ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 #fe4d4d;
  border: medium none;
  box-shadow: none;
  height: 8px;
  top: -3px;
  width: 8px;
  margin-left: -5px;
}

/* line 359, ../sass/filters.scss */
.ui-slider .ui-slider-range {
  background: #c5c5c5;
}

/* line 363, ../sass/filters.scss */
.filter-reset, .advanced-filter-call, .form-submit {
  margin-bottom: 10px;
}

/* line 367, ../sass/filters.scss */
.advanced-filter-call {
  display: block;
  width: 120px;
  background: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-bottom-color: #dddddd;
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 1px 0 1px #F5F5F5;
  border-radius: 5px;
  font-size: 14px;
  padding: 6px 0;
}
/* line 381, ../sass/filters.scss */
.advanced-filter-call:hover {
  background: #f3f3f3;
  color: #777777;
}
/* line 385, ../sass/filters.scss */
.advanced-filter-call.is-active {
  border-color: #c9c9c9;
  color: #777;
  background: #fff;
}

/* line 393, ../sass/filters.scss */
.filter-reset {
  background: none;
  border: none;
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
  text-shadow: 1px 0 1px #F5F5F5;
  font-size: 14px;
}
/* line 401, ../sass/filters.scss */
.filter-reset:hover {
  text-decoration: none;
}

/* line 406, ../sass/filters.scss */
.form-submit {
  padding: 6px 0;
  color: #fff;
  border: 2px solid #e94646;
  background: #e94646;
  display: inline-block;
  border-radius: 5px;
  border-bottom-color: #d74041;
  font-weight: bold;
  font-size: 13px;
  width: 120px;
  cursor: pointer;
}
/* line 418, ../sass/filters.scss */
.form-submit:hover {
  background: #ed6b6b;
  border-color: #ed6b6b;
  border-bottom-color: #df6667;
}
/* line 423, ../sass/filters.scss */
.form-submit.is-active {
  border-color: #ed6b6b;
  color: #ed6b6b;
  background: #fff;
}
