@import "compass/";
@import "variables";
$icons-layout:horizontal;  
$icons-spacing:20px;  
// $icons-icons-dimensions : true; 
@import "icons/*.png";

@include all-icons-sprites(true); 

body {
    background:#fff;  
    font-family: 'PT Sans', sans-serif;
}

.icons-sprite{
  display: inline-block;
  vertical-align: middle;
}

.wrapper{
  padding: 200px 0;
}

.filters{
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  // background:#ddd;
  padding: 0px 20px 0px 5px;
  border-top: 2px solid #ececec;
  border-bottom: 1px solid #ececec;
  // min-height: 165px;
  height: auto;
  &__form{
  height: 100%;
  @include pie-clearfix;
  }
}



.filters-switchers{ 
  float: left;
  padding-top: 15px;
  &__item{ 
     &_advanced{
    display: none;
  }
    margin-bottom: 10px;
    input[type="radio"]{
    display: none;
    }
    label{ 
      @include unselect;
      border: 1px solid $base-border-color;
      border-radius: 4px;
      display: inline-block;
      // padding: 3px 10px;
      line-height: 34px;
      height: 37px;
      width: 120px;
      font-size: 14px;
      color: $base-button-color;
      cursor: pointer;
      vertical-align: middle;
      padding-left: 7px;
      // text-indent: 50px;
      &:hover{
        background-color: #fafafa;
      }
    }
    input[type="radio"]:checked + label{
      font-weight: bold;
      color: #555555;
      background: #e9e9e9;
    }

    }
    &__text{
      margin-left: 5px;
    }
}

.filters-options{
  input[type="checkbox"]{
    display: none;
  }
  position: relative;
  float: left;
  margin-left: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  @include pie-clearfix;
  &__switcher{
    @include unselect;
    // cursor: pointer;
    line-height: 42px;
    border: 1px solid $base-border-color;
    height: 44px;
    text-align: center;
    width: 100px;
    & + & {
      border-top: none;
    }
    &:hover{
      background:#fcfcfc;
      border-right-color: #fcfcfc ;
      > span{
      font-weight: bold;
    }
    }
    &:after{
      content: '';
      float: right;
      width: 4px;  
      height: 100%;
      background:#fcfcfc;
      margin-right: -1px;
      position: relative;
      z-index: 3;
      // display: none;
      visibility: hidden;
    }
    &:hover:after{
      // display: block;
      visibility: visible;
    }
  }
  &__values{
    position: absolute;
    left: 100%;
    background:#fcfcfc;
    width: 630px;
    // max-width: 600px;
    top:0;
    bottom:0;
    margin: auto;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
    margin-left: -1px;
    z-index: 2;
    display: none;
    padding: 10px 15px  12px 5px;
    @at-root .filters-options__switcher:hover &{
      display: block;
    }
    &_car-type{
      // display: block;
    }
  }
  &__item{
    float: left;
    text-align: left;
    margin-left: 7px;
    margin-bottom: 0px;
   input:checked + label:before{
    background-color: #e9e9e9;
    border-color: #d7d7d7;
   }
    
  }
  &__label{
    width: 145px;  
    cursor: pointer;
    font-size: 14px;
    padding: 3px;
    // height: 43px;
    max-height: 47px;
    line-height: normal;
    white-space:nowrap;
    display: block;
    line-height: 35px;
    padding: 0 0 0 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    padding: 3px 0 4px 4px;
    &::before{
      width: 39px;
      // position: absolute;
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 37px;
      background-color:#fff;
      border-radius: 4px;
      border: 1px solid $base-border-color;
    }

    i{
      position: absolute;
      top: 18px;
      left: 12px
    }
    span{
      margin-left: 5px;
    }
    &:hover{
      border-color: #f1f1f1;
    }
  }
}
