@import "compass/";
@import "variables";

$icons-layout: horizontal;
$icons-spacing: 20px;

// $icons-icons-dimensions : true;
@import "icons/*.png";

@include all-icons-sprites(true);

body {
    background: #fff;
    font-family: 'PT Sans', sans-serif;
}

.icons-sprite {
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    padding: 200px 0;
}

.filters {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    // background:#ddd;
    padding: 0px 20px 0px 5px;
    border-top: 2px solid #ececec;
    border-bottom: 1px solid #ececec;
    // min-height: 165px;
    height: auto;
    &__form {
        height: 100%;
        @include pie-clearfix;
    }
}

.filters-switchers {
    float: left;
    padding-top: 15px;
    &__item {
        &_advanced {
            display: none;
        }
        margin-bottom: 10px;
        input[type="radio"] {
            display: none;
        }
        label {
            @include unselect;
            border: 1px solid $base-border-color;
            border-radius: 4px;
            display: inline-block;
            // padding: 3px 10px;
            line-height: 34px;
            height: 37px;
            width: 120px;
            font-size: 14px;
            color: $base-button-color;
            cursor: pointer;
            vertical-align: middle;
            padding-left: 7px;
            // text-indent: 50px;
            &:hover {
                background-color: #fafafa;
            }
        }
        input[type="radio"]:checked + label {
            font-weight: bold;
            color: #555555;
            background: #e9e9e9;
        }
    }
    &__text {
        margin-left: 5px;
    }
}

.filters-options {
    input[type="checkbox"] {
        display: none;
    }
    position: relative;
    float: left;
    margin-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    @include pie-clearfix;
    &__switcher {
        @include unselect;
        // cursor: pointer;
        line-height: 42px;
        border: 1px solid $base-border-color;
        height: 44px;
        text-align: center;
        width: 100px;
        & + & {
            border-top: none;
        }
        &:hover {
            background: #fcfcfc;
            border-right-color: #fcfcfc;
            > span {
                font-weight: bold;
            }
        }
        &:after {
            content: '';
            float: right;
            width: 4px;
            height: 100%;
            background: #fcfcfc;
            margin-right: -1px;
            position: relative;
            z-index: 3;
            // display: none;
            visibility: hidden;
        }
        &:hover:after {
            // display: block;
            visibility: visible;
        }
    }
    &__values {
        position: absolute;
        left: 100%;
        background: #fcfcfc;
        // max-width: 600px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-left: 1px solid $base-border-color;
        border-right: 1px solid $base-border-color;
        margin-left: -1px;
        z-index: 2;
        display: none;
        padding: 10px 15px  12px 5px;
        @at-root         .filters-options__switcher:hover & {
            display: block;
        }

        &_car-type {
            width: 630px;
        }
        &_car-brand {
            width: 430px;
            // display: block;
        }
        &_car-variant {
            width: 430px;

        }
    }
    &__item {
        float: left;
        text-align: left;
        margin-left: 7px;
        margin-bottom: 0px;
        input:checked + .filters-options__label_iconed:before {
            background-color: #e9e9e9;
            border-color: #d7d7d7;
        }
    }
    &__label {
        cursor: pointer;
        font-size: 14px;
        padding: 3px;
        // height: 43px;
        line-height: normal;
        white-space: nowrap;
        display: block;
        padding: 0 0 0 5px;
        border-radius: 4px;
        position: relative;
        padding: 3px 0 4px 4px;
        span {
            margin-left: 5px;
            vertical-align: middle;
            text-shadow: 1px 0 1px #F5F5F5;
        }
        &_iconed {
            max-height: 47px;
            border: 1px solid transparent;
            line-height: 35px;
            width: 145px;
            &::before {
                width: 39px;
                // position: absolute;
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 37px;
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid $base-border-color;
            }
            &:hover {
                border-color: #f1f1f1;
            }
            i {
                position: absolute;
                top: 18px;
                left: 12px;
            }
        }
        &_checkbox {
            width: 125px;
            &::before{
              content: '';
              display: inline-block;
              width: 16px;
              height: 16px;
              background: #e1e1e1;
              vertical-align: middle;
              @include transition(0.3s);
              border-radius: 2px;
            }
            @at-root .filters-options__item_car-brand input:checked + &::before{
              box-shadow:  inset 0  0  0px 4px  #444;
            }
            &:hover{
              opacity: 0.85;
            }
        // _checkbox
        }
    }
}